* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 1rem;
    
}

.date  {
    color: blue;
}

.time  {
    color: green;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin-top: 50px;
}